<app-header></app-header>

<div class="register-container">
    <h3>Cadastro de Usuário</h3>

    <form [formGroup]="userForm" class="register-form" (submit)="crateUser()">

        <div class="form-field">
            <label class="label-input">Nome Completo</label>
            <input type="text" formControlName="name" placeholder="Digite seu nome completo">
        </div>

        <div class="form-field">
            <label class="label-input">Email:</label>
            <input type="email" formControlName="email" placeholder="Digite seu email">
        </div>

        <div class="form-field">
            <label class="label-input">Senha do Usuário:</label>
            <input type="password" formControlName="password" placeholder="Crie uma senha">
            <span class="error" *ngIf="userForm.controls.password.errors && userForm.value.password.length >0"> A senha deve ter no mínimo 8 caracteres</span>
        </div>

        <div class="form-field">
            <label class="label-input">CPF:</label>
            <input type="text" formControlName="CPF" placeholder="Digite seu CPF" [maxLength]="11">
        </div>

        <div class="form-field">
            <label class="label-input">Idade:</label>
            <input type="text" formControlName="age" placeholder="Digite sua Idade" [maxlength]="2" [minlength]="2">
        </div>

        <div>
            <button
            class="button-registration"
            type="submit" 
            [disabled]="userForm.invalid">Cadastrar</button>
        </div>

    </form>
</div>

<app-footer></app-footer>
